:root {
  --matrix-green: #00FF41;
  --vampire-black: #0D0208;
  --the-red: #e32424;
  --computer-blue: #208efc;
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  background: var(--vampire-black);
}

button {
  font-size: 16px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}
