:root {
  --primary-color: hsl(207deg 94% 39%);
  --background-color: hsl(0deg 0% 96%);
}

html {
  max-width: 1250px;
  margin: 0 auto calc(1rem + 50px) auto;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--font-color);
  word-break: break-word;
  background-color: hsl(215deg 62% 19%);
}
