.ParticleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ContentContainer {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  max-width: 1300px;
  margin: var(--large-space) auto calc(var(--large-space) + 50px) auto;
}

@media (max-width: 768px) {
  .ContentContainer {
    grid-template-columns: auto;
  }
}
