:host {
  display: block;
  width: 20rem;
  max-width: 100%;
  padding: 1rem;
  margin: 2rem;
  font-family: sans-serif;
  border: 2px solid #800080;
}

:host(.error) {
  border-color: #f00;
}

form input {
  display: block;
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.5rem;
  font: inherit;
  color: #800080;
}

form button {
  padding: 0.25rem 0.5rem;
  font: inherit;
  color: #fff;
  cursor: pointer;
  background: #800080;
  border: 1px solid #800080;
}

form button:hover,
form button:focus,
form button:active {
  background: #a20ea2;
  border-color: #a20ea2;
}

form button:disabled {
  color: #fff;
  cursor: not-allowed;
  background: #ccc;
  border-color: #ccc;
}
