.Title {
  color: var(--primary-color);
}

.CourseContainer {
    display: grid;
    grid-template-columns: repeat(2,auto) 2fr repeat(3,1fr);
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--font-color);
}

.CourseItem {
    padding: 1rem 0;
}

.CourseUrls {
  display: flex;
  font-size: 14px;
}

.ThisYear {
    color: hsl(0deg 0% 100%);
    text-align: center;
    background-color: hsl(120deg 100% 25%);
}

.LastYear {
    color: hsl(0deg 0% 100%);
    text-align: center;
    background-color: hsl(33deg 100% 50%);
}

.TwoYears {
    color: hsl(0deg 0% 100%);
    text-align: center;
    background-color: hsl(0deg 100% 50%);
}

.Outdated {
    color: hsl(0deg 0% 100%);
    text-align: center;
    background-color: hsl(0deg 0% 0%);
}

.Rating a, .Rating div {
    padding: var(--small-space) ;
    color: var(--white);
}

.RatingFive a, .RatingFive div {
    background-color: hsl(120deg 100% 25%);
}

.RatingFour a, .RatingFour div {
    background-color: hsl(76deg 100% 25%);
}

.RatingThree a, .RatingThree div {
    background-color: hsl(46deg 100% 29%);
}

.RatingTwo a, .RatingTwo div {
    background-color: hsl(26deg 100% 40%);
}

.RatingOne a, .RatingOne div {
    background-color: hsl(0deg 100% 50%);
}

@media (max-width: 768px) {
    .CourseContainer {
        grid-template-columns: repeat(3,auto);
    }
}
