.CourseContainer {
    display: grid;
    grid-template-columns: repeat(2,auto) 2fr repeat(3,1fr);
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--font-color);
}

.CourseItem {
    padding: 1rem 0;
    contain-intrinsic-size: 50px;
    content-visibility: auto;
}

.CourseUrls {
    font-size: 14px;
}

.ThisYear {
    color: #fff;
    text-align: center;
    background-color: #008000;
}

.LastYear {
    color: #fff;
    text-align: center;
    background-color: #ff8c00;
}

.TwoYears {
    color: #fff;
    text-align: center;
    background-color: #f00;
}

.Outdated {
    color: #fff;
    text-align: center;
    background-color: #000;
}

.Rating a, .Rating div {
    padding: var(--small-space) ;
    color: var(--white);
}

.RatingFive a, .RatingFive div {
    background-color: #008000;
}

.RatingFour a, .RatingFour div {
    background-color: #5b7d00;
}

.RatingThree a, .RatingThree div {
    background-color: #957200;
}

.RatingTwo a, .RatingTwo div {
    background-color: #cd5800;
}

.RatingOne a, .RatingOne div {
    background-color: #f00;
}

@media (max-width: 768px) {
    .CourseContainer {
        display: flex;
        flex-wrap: wrap;
    }
}
