.CommandContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 1rem;
  background: #0D0208;
  border: 5px solid var(--computer-blue);
}

.CommandContainer div button {
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  background-color: var(--the-red);
  border: 2px solid var(--the-red);
}

.CommandContainer div button:focus,
.CommandContainer div button:hover {
  filter: brightness(60%);
}
