.DefaultContainer {
  display: grid;
  place-items: center;
}

.SlideButtons {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}


.TwoColumnCenter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.Key {
  color: hsl(0deg 100% 50%);
}

.DynamicHydrationElements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.DynamicHydrationElements div {
  width: 200px;
  height: 200px;
  overflow: auto;
}

.SummaryGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1px;
  border: 1px solid hsl(0deg 0% 0%);
}

.SummaryGrid div {
  padding: 4px;
  outline: 1px solid hsl(0deg 0% 0%);
}



