/*
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */

body {
  background-image: var(--gradient-background);
}

.container {
  min-height: inherit;
}

.container,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 400px;
  max-width: 100%;
  padding: 1rem;
  background-color: hsl(0deg 0% 100%);
  border-radius: 5px;
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 50%);
}

@media print, (min-width: 640px) {
  .content {
    padding: 2rem;
    border-radius: 8px;
  }
}

h1 {
  margin-top: 0;
}

fieldset {
  display: flex;
  justify-content: center;
}

fieldset > :not(:last-child) {
  margin-right: 2rem;
}

.links ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 0;
  margin-top: 1rem;
  list-style: none;
}

.links a:hover, .links a:focus {
  text-decoration-thickness: 1px;
  text-decoration-style: wavy;
}
