.BlogInfo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: var(--large-space);
    place-items: center;
}

.Title {
  color: var(--primary-color);
}

.Article {
  column-width: 50ch;
}

@media (max-width: 425px) {
    .BlogInfo {
        grid-template-columns: auto;
    }
}

@media (prefers-color-scheme: dark) {
  .Title {
    color: var(--font-color);
  }
}
