.ControlPane {
  padding: 18px 24px 24px;
  margin-bottom: 32px;
  background-color:  hsl(183deg 46% 88% / 100%);
  border-radius: 8px;
}

.Title {
  margin: 0 0 -4px;
}

.Metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: normal;
  color: hsl(0deg 0% 30%);
}
