.ToReadLinksContainer {
  display: grid;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
}

.ToReadLinksContainer > div {
  padding: 8px;
  border-bottom: 1px solid hsl(0deg 0% 0%);
}

.ToReadLinksContainer a {
  color: hsl(0deg 0% 0%);
}

.ToReadLinkCheckbox {
  width: 24px;
  height: 24px;
  border: 1px solid black;
}

.ToReadLinkInputContainer {
  display: flex;
  gap: 16px;
  place-items: center;
}

.MarkAsRead {
  text-align: right;
}
