.Header {
  margin: 0 1rem;
  font-size: 2em;
  font-weight: bold;
  color: var(--header-font-color);
  text-align: center;
  text-shadow: #000 0 0 5px;
  cursor: pointer;
  background: var(--header-color);
  box-shadow: var(--box-shadow);
}

.Header:hover, .Header:focus {
  box-shadow: var(--box-shadow-hover);
}

.Navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 1rem 1rem 0;
}

.CseSearch {
  padding: 0 1rem 1rem;
}


.NavigationLink {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.NavigationLink:visited {
  color: var(--font-color);
}

.NavigationLink:hover, .NavigationLink:focus {
  cursor: pointer;
  box-shadow: var(--box-shadow-hover);
}
