.DashboardContainer {
  display: grid;
  grid-template-areas:
  "Weather Reading"
  "Health Finance"
  "Routine OnlineEducation";
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.DashboardContainer > div {
  display: grid;
  place-items: center;
  padding: 8px;
}

.Weather {
  grid-area: Weather;
}

.Reading {
  grid-area: Reading;
  box-shadow: var(--box-shadow);
}

.Health {
  grid-area: Health;
  box-shadow: var(--box-shadow);
}

.Finance {
  grid-area: Finance;
  box-shadow: var(--box-shadow);
}

.Routine {
  grid-area: Routine;
  box-shadow: var(--box-shadow);
}

.OnlineEducation {
  grid-area: OnlineEducation;
  box-shadow: var(--box-shadow);
}
