@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Raleway.ttf') format('truetype');
  font-display: swap;
}

:root {
  --black: #000;
  --dark-grey: #d3d3d3;
  --dark-gray: var(--dark-grey);
  --white: #f5f5f5;
  --primary-color: #066FC3;
  --background-color: #f5f5f5;
  --success-color: #008000;
  --fail-color: #F00;
  --item-background-color: #fff;
  --font-color: #000;
  --header-color: #7790cb;
  --header-font-color: #fff;
  --box-shadow: 0 3px 3px rgba(0 0 0 / 20%);
  --box-shadow-hover: 0 3px 3px rgba(0 0 0 / 10%);
  --border-color: var(--dark-grey);
  --large-space: 1rem;
  --medium-space: 0.5rem;
  --small-space: 0.3rem;
  font-size: calc(14px + 0.2vw);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #163d73;
    --item-background-color: #163d73;
    --header-color: #01204d;
    --box-shadow: 0 3px 3px rgba(255 255 255 / 20%);
    --font-color: #fff;
    --border-color: #23272A;
  }
}

html {
  max-width: 1000px;
  margin: 0 auto calc(1rem + 50px) auto;
  font-family: Raleway, sans-serif;
  color: var(--font-color);
  word-break: break-word;
  background-color: var(--background-color);
}

body {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: var(--font-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
}

blockquote {
  padding: 0.5em 10px;
  margin: 1.5em 10px;
}
