.ProductHuntContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.ProductHuntContainer > div {
  padding: 1rem;
  border: 1px solid var(--dark-gray);
  box-shadow: var(--box-shadow);
}

.ProductHuntTitle {
  font-weight: bold;
}

.Links {
  display: flex;
  flex-wrap: wrap;
}
